@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout-3.4.0.debug.js"></script>
<script type="text/javascript">
    var viewModel;
    viewModel = {
        Student: ko.observableArray()
    };

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/GetBasicInfo",
        }).done(function (data) {
            $(data).each(function (index, element) {
                viewModel.Student.push(element);
            });
            ko.applyBindings(viewModel);
        }).error(function (ex) {
            alert("Error");
        });
    });
</script>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Student">
            <tr >
                <td data-bind="text:Name"></td>
                <td data-bind="text:Age"></td>
                <td data-bind="text:Address"></td>
                <td data-bind="text:Email"></td>
            </tr>
        </tbody>
    </table>
</div>
<div data-bind="with:Student">
    <form method="post" action="/Home/Save">
        <div>
            <label>Name</label>
            <input type="text" id="txtName" name="Name" data-bind="value:Name" />
        </div>
        <div>
            <label>Age</label>
            <input type="text" id="txtAge" name="Age" data-bind="value:Age" />
        </div>
        <div>
            <label>Address</label>
            <input type="text" id="txtAddress" name="Address" data-bind="value:Address" />
        </div>
        <div>
            <label>Email</label>
            <input type="text" id="txtEmail" name="Email" data-bind="value:Email" />
        </div>
<input type="submit" id="btnSave" value="Save" />
    </form>
</div>
