@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Sample -Notify</h2>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/notify.js"></script>

